
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 100%; height: 1024px;  overflow: hidden; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 50%; height: 1024px; background: #0F0E11; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 720px; height: 1024px; background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%)"></div>
    </div>
    <div style="flex: 1 1 0; align-self: stretch; padding-left: 32px; padding-right: 32px; padding-top: 48px; padding-bottom: 48px; background: linear-gradient(0deg,  0%,  100%), linear-gradient(0deg, white 0%, white 100%); flex-direction: column; justify-content: center; align-items: center; gap: 32px; display: inline-flex">
        <div style="width: 488px; flex: 1 1 0; padding-top: 32px; padding-bottom: 32px; border-radius: 8px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: flex">
            <div style="align-self: stretch; height: 389px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: flex">
                <div style="align-self: stretch; height: 77px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 12px; display: flex">
                    <div style="align-self: stretch; text-align: center; color: black; font-size: 36px; font-family: Quicksand; font-weight: 700; word-wrap: break-word">Bem-vindo</div>
                    <div style="width: 467px; text-align: center; color: #434343; font-size: 16px; font-family: Mulish; font-weight: 400; word-wrap: break-word">Loga-se com sua conta para continuar</div>
                </div>
                <div style="align-self: stretch; height: 280px; background: rgba(255, 255, 255, 0.03); flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                    <div style="align-self: stretch; height: 280px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
                        <div style="align-self: stretch; height: 76px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                            <div style="align-self: stretch; color: #10002E; font-size: 14px; font-family: Quicksand; font-weight: 700; line-height: 20px; letter-spacing: 0.40px; word-wrap: break-word">Usuario</div>
                            <div style="align-self: stretch; padding: 12px; background: white; border-radius: 8px; border: 1px #D5D4DC solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                                <div style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                                    <div style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                                        <div style="flex: 1 1 0; color: #8B849B; font-size: 16px; font-family: Quicksand; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">John Doe</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="align-self: stretch; height: 76px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                            <div style="align-self: stretch; color: #10002E; font-size: 14px; font-family: Quicksand; font-weight: 700; line-height: 20px; letter-spacing: 0.40px; word-wrap: break-word">Senha</div>
                            <div style="align-self: stretch; padding: 12px; background: white; border-radius: 8px; border: 1px #D5D4DC solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                                <div style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                                    <div style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                                        <div style="flex: 1 1 0; color: #8B849B; font-size: 16px; font-family: Quicksand; font-weight: 500; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">********************</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="align-self: stretch; text-align: right; color: #0170FF; font-size: 16px; font-family: Quicksand; font-weight: 700; word-wrap: break-word">Esqueceu a senha?</div>
                        <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #0170FF; border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                            <div style="text-align: center; color: white; font-size: 16px; font-family: Quicksand; font-weight: 600; line-height: 24px; word-wrap: break-word">Entrar</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; text-align: center"><span style="color: #434343; font-size: 16px; font-family: Quicksand; font-weight: 700; word-wrap: break-word">Não possui uma conta? </span><span style="color: #0170FF; font-size: 16px; font-family: Quicksand; font-weight: 700; word-wrap: break-word">Cadastra-se</span></div>
        </div>
    </div>
</div>

