<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="SFC.Host.styles.css"/>
    
    <link rel="icon" type="image/png" href="wallet.png"/>

    <link href="scripts/select2/select2-bootstrap.css" rel="stylesheet" />
    <link href="scripts/select2/select2.css" rel="stylesheet" />
    <HeadOutlet/>
</head>

<body>
<Routes/>


@* <script type="text/javascript" src="scripts/jquery/jquery-1.11.3.intellisense.js"></script> *@
<script type="text/javascript" src="scripts/jquery/jquery-1.11.3.js"></script>
<script type="text/javascript"  src="scripts/select2/select2.min.js"></script>
<script type="text/javascript"  src="scripts/select2/select2_locale.js"></script>

<script src="_framework/blazor.web.js"></script>

</body>

</html>